p.solid {
    border-style: solid;
}
html{
    background-color: #ffff00;
}
html, body{ /*no space on the sides html and body*/
    margin: 0px;
    padding: 0px;
}
body header{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #dda0dd;
    border-style: double;
    border-width: 15px;
    border-color: #008080;
}
#video{
    display: none;
}
#pcnav{
    display: none;
}
#title{
    letter-spacing: 10px;
    text-transform: uppercase;
    width: 100px;
    padding-left: 20px;
    font-family: Notable;
}
#logo{
    width: 20%;
    height: 20%;
}
#payoff{
    word-spacing: 5px;
    line-height: 40px;
    text-indent: 5%;
}
.flexcontainer{
    display: flex;
    justify-content: left;
}
.frontpage{
    background-color: #87ceeb; 
}
.navmenu{
    display: flex;
    margin: 10px;
    display: inline-block;
    background-color: #008080;
}
#img1page1, #img2page1, #img3page1{
    float: left;
    width: 40%;
    height: auto;
}
section#first{
    background-color: #ff0000;
}
section#second{
    background-color: #4169e1;
}
section#third{
    background-color: #87ceeb;
}
#location{
    float: right;
}
footer#homepage{
    background-color: #cd853f;
    height: 50px;
    clear: both;
}
#cookiestatement{
position: fixed;
bottom: 0;
right: 0;
width: 200px;
background-color: #fa0;
opacity: 0.5;
text-align: center;
color: #fff;
z-index: 9999;
}
#frontpage{
    background-color: #40e0d0;
    display: flex;
    flex-direction: column;
}
aside#bestlist{
    background-color: #6a5acd;
    font-size: 10px;
    order: 1;    
    padding-bottom: 10px;
}
#textOne{
    background-color: #ee82ee;
    height: 160px;
    font-size: 9px;
}
#textTwo{
    background-color: #9acd32;
    height: 160px;
    font-size: 9px;
}
#textThree{
    background-color: #ff6347;
    height: 160px;
    font-size: 9px;
}
#textPageTwo{
    display: grid;
    grid-gap: 10px;
    grid-template-rows: [row1-start] auto [row1-end] auto[row2-start] auto [row2-end] auto [row3-start] auto [row3-end] auto [row4-start] auto [row4-end] auto [row5-start] auto [row5-end];
    background-color: hsl(44, 100%, 58%);
    color: #444;
}
#art1{
    grid-row: row4-start;
    text-align: center;
    background-color: #f08080;
    font-size: 10px;
}
#art2{
    grid-row: row3-start ;
    text-align: center;
    background-color: #800000;
    font-size: 10px;
}
#art3{
    grid-row: row2-start;
    text-align: center;
    background-color: #3cb371;
    font-size: 10px;
}
#art4{
    display: none;
}
#art5{
    grid-row: row1-start;
    text-align: center;
    background-color: #ffa500;
    font-size: 10px;
}
#art6{
    display: none;
}
#allimages{
    grid-row: row5-start;
}
#portugal, #spanje, #griekenland{
    height: auto;
    width: 100%;
}
figure{
    margin: auto;
}
figcaption{
    padding: 2px;
    text-align: left;
}
#about{
    display: none;
}
#zitcomfort{
    background-color: #663399;
    grid-column: 1
}
#service{
    background-color: #663399;
    grid-column: 2
}
#locatie{
    background-color: #40e0d0;
}
th + th{
    background-color: #40e0d0;
}
tr:nth-child(even){
    background-color: #CFF;
}
tr:nth-child(odd){
    background-color: #fff;
}
#imgpage3{
    grid-row: 4;
    background-color: #ee82ee;
    width: auto;
}
#prices{
    background-color: #00ff7f;
}
#tui{
    background-color: teal;;
    grid-row: 3;
}
#tickets{
    display: grid;
    grid-template-columns: [col1-start] auto  [col2-start] auto;
    grid-template-rows: [row1-start] auto [row1-end] auto[row2-start] auto [row2-end];
    width: auto;
    font-size: 10px;
}
#contactpage{
    display: grid;
    grid-template-rows: [row1-start] auto [row1-end] auto[row2-start] auto [row2-end];
}
#imgpage4{
    grid-row: row2-start;
    background-color: #ee82ee;
}
#arubaharbor2, #spaincity, #portugaltoren{
    width: 100%;
}
#arubaharbor{
    width: 100%;
}
#contactform{
    grid-row: row1-start;
    background-color:#f5f5f5;
    padding: 20px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
input[type=text], select {
    width: 100%;
    margin: 8px;
    box-sizing: border-box;
}
#message{
    height: 335px;
}
#knop{
    width: 150px;
    background-color: #00ff7f;
    cursor: pointer;
    border-radius: 10px;
}
#knop:hover{
    background-color: #db1212;
}
#knop:active{
    background-color: #be52be;
}
#burger{
    float: right;
}
#menuToggle
{
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
#menuToggle a
{
  text-decoration: none;
  color: #232323;
}
#menuToggle input
{
  display: block;
  width: 40px;
  height: 38px;
  position: absolute;
  cursor: pointer;
  z-index: 9999;
  -webkit-touch-callout: none;
  top: -5px;
  left: -7px;
  opacity: 0;
}
#menuToggle span
{
  display: block;
  width: 30px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
}
#menuToggle input:checked ~ span
{
  opacity: 1;
  background: #ffffff;
}
#menu
{
  position: absolute;
  width: 100px;
  margin: -100px 0 0 48px;
  padding: 20px;
  padding-top: 80px;
  height: 45px;
  
  background: #960ca3;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
}
#menu li
{
  padding: 2px 0;
  font-size: 10px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}
@media only screen and (min-width: 481px){
        #burger{
            display: none;
        }
        #pcnav{
            display: flex;
        }
        #frontpage{
            display: inline-flex;
            flex-direction: column;
            background-color: #40e0d0;
        }
        p.solid {
            border-style: solid;
        }
        html{
            background-color: #ffff00;
        }
        html, body{ /*no space on the sides html and body*/
            margin: 0px;
            padding: 0px;
        }
        body header{
            margin: 0px;
            padding: 0px;
        }
        body{
            font-family: Arial, Helvetica, sans-serif
        }
        header{
            background-color: #dda0dd;
            border-style: double;
            border-width: 15px;
            border-color: #008080;
        }
        
        #title{
            letter-spacing: 10px;
            text-transform: uppercase;
        }
        #payoff{
            word-spacing: 5px;
            line-height: 40px;
            text-indent: 5%;
        }
        .flexcontainer{
            display: flex;
            justify-content: left;
        }
        .frontpage{
            background-color: #87ceeb; 
        }
        .navmenu{
            display: flex;
            margin: 2px;
            padding-left: 5px;
            padding-right: 5px;
            display: inline-block;
            background-color: #008080;
        }
        #img1page1, #img2page1, #img3page1{
            float: right;
            width: 250px;
            height: 160px;
        }
        section#first{
            background-color: #ff0000;
        }
        section#second{
            background-color: #4169e1;
        }
        section#third{
            background-color: #87ceeb;
        }
        #location{
            float: right;
        }
        footer#homepage{
            background-color: #cd853f;
            height: 50px;
            clear: both;
        }
        aside#cookiestatement{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 200px;
        background-color: #fa0;
        opacity: 0.5;
        text-align: center;
        color: #fff;
        z-index: 9999;
        }
        #video{
            display: block;
            order: 2;
            width: 100%;
            height: auto;
        }
        aside#bestlist{
            order: 1;
            background-color: #6a5acd; 
        }
        #alltext{
            order: 3;
        }
        #textOne{
            background-color: #ee82ee;
            height: 160px;
        }
        #textTwo{
            background-color: #9acd32;
            height: 160px;
        }
        #textThree{
            background-color: #ff6347;
            height: 160px;
        }
        #textPageTwo{
            width: 100%;
            display: grid;
            grid-gap: 0px;
            grid-template-columns: [col1-start] auto  [col2-start] auto;
            grid-template-rows: [row1-start] auto [row1-end] auto[row2-start] auto [row2-end] auto [row3-start] auto [row3-end] auto [row4-start] auto [row4-end] auto [row5-start] auto [row5-end] auto;
            background-color: hsl(44, 100%, 58%);
            color: #444;
        }
        #art1{
            grid-column: col1-start;
            grid-row: row1-start;
            text-align: center;
            background-color: #f08080;
        }
        #art2{
            grid-column: col2-start;
            grid-row: row1-start / row3-end;
            text-align: center;
            background-color: #800000;
        }
        #art3{
            grid-column: col1-start;
            grid-row: row2-start / row3-end;
            text-align: center;
            background-color: #3cb371;
        }
        #art4{
            display: none;
        }
        #art5{
            grid-column: col2-start ;
            grid-row: row3-start;
            text-align: center;
            background-color: #ffa500;
        }
        #art6{
            display: block;
            grid-column: col1-start / col2-stop;
            grid-row: row4-start;
            text-align: center;
            background-color: #87ceeb;
            font-size: 10px;
        }
        #allimages{
            grid-column: col1-start / col2-stop;
            display: grid;
            grid-template-columns: [col1-start] auto  [col2-start] auto;
            width: 100%;
        }
        #portugal{
            display: block;
            height: 100%;
            width: 100%;
            grid-column: col1-start;
            grid-row: row5-start;
        }
        #spanje{
            height: 100%;
            float: right;
            width: 100%;
            grid-column: col2-start;
            grid-row: row5-start;
        }
        #img3{
            display: none;
        }
        #about{
            display: grid;
            background-color: #9acd32;
            font-size: 10px;
        }
        #zitcomfort{
            background-color: #663399;
            grid-column: 1
        }
        #service{
            background-color: #663399;
            grid-column: 2
        }
        #prices > tr{
            background-color: #fa8072;
        }
        #row1, #row2, #row3, #row4, #row5, #row6, #row7, #row8{
            width: 100%;
            height: 60px;
            text-align: center;
        }
        #imgpage3{
            display: grid;
            background-color: #ee82ee;
            grid-row: row3-start;
            grid-template-columns: [col1-start] auto [col2-start] auto;
        }
        #secondimagepage3{
            width: auto;
            height: auto;
            grid-column: col1-start;
            grid-row: row2-start;
        }
        #thirdimagepage3{
            width: auto;
            height: auto;
            grid-column: col2-start;
            grid-row: row2-start;
        }
        #arubaharbor{
            display: none;
        }
        #spaincity{
            width: 100%;
            height: auto;
        }
        #portugaltoren{
            width: 100%;
            height: auto;
        }
        #prices{
            background-color: #00ff7f;
            grid-column: col1-start;
            grid-row: row1-start;
            width: auto;
        }
        #tui{
            background-color: #00ff7f;
            grid-column: col1-start;
            grid-row: row2-start;
            width: auto;
        }
        #tickets{
            display: grid;
            width: 100%;
            grid-template-rows: [row1-start] auto [row1-end] auto[row2-start] auto [row2-end] auto;  
        }
        #contactpage{
            display: grid;
            grid-template-columns: [col1-start] auto  [col2-start] auto;
            grid-template-rows: [row1-start] auto [row1-end] auto[row2-start] auto [row2-end]
        }
        #imgpage4{
            grid-column: col2-start;
            grid-row: row1-start;
            background-color: #ee82ee;
        }
        #contactform{
            background-color:#f5f5f5;
            padding: 20px;
            padding-bottom: 10px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            grid-column: col1-start;
        }
        input[type=text], select {
            width: 100%;
            margin: 8px;
            box-sizing: border-box;
        }
        #message{
            height: 335px;
        }
        #knop{
            width: 150px;
            background-color: #00ff7f;
            cursor: pointer;
            border-radius: 10px;
        }
        #knop:hover{
            background-color: #20750fb9;
        }
        #knop:active{
            background-color: #be52be;
        }
    }
        @media only screen and (min-width: 1280px){
            #burger{
                display: none;
            }
            #pcnav{
                display: flex;
                font-size: 15px;
            }
            #logo{
                width: 10%;
                height: 10%;
            }
            #frontpage{
                display: flex;
                background-color: #87ceeb; 
                flex-direction: column-reverse;
            }
            .frontpage{
                background-color: #3faeda; 
            }
            p.solid {
                border-style: solid;
            }
            html{
                background-color: #ffff00;
            }
            html, body{ /*no space on the sides html and body*/
                margin: 0px;
                padding: 0px;
            }
            body header{
                margin: 0px;
                padding: 0px;
            }
            body{
                font-family: Arial, Helvetica, sans-serif;
                
            }
            header{
                background-color: #dda0dd;
                border-style: double;
                border-width: 15px;
                border-color: #008080;
            }
            
            #title{
            letter-spacing: 10px;
            text-transform: uppercase;
            width: 100px;
            padding-left: 20px;
            }
            #payoff{
                word-spacing: 5px;
                line-height: 40px;
                text-indent: 5%;
            }
            .flexcontainer{
                display: block;
                justify-content: left;
            }
            .navmenu{
                display: block;
                margin: 2px;
                padding-left: 5px;
                padding-right: 5px;
                display: inline-block;
                background-color: #008080;
            }
            #img1page1, #img2page1, #img3page1{
                float: right;
                width: 220px;
                height: 160px;
            }
            section#first{
                background-color: #ff0000;
            }
            section#second{
                background-color: #4169e1;
            }
            section#third{
                background-color: #87ceeb;
            }
            #location{
                float: right;
            }
            #homepage{
                background-color: #cd853f;
                height: 50px;
                clear: both;
                width: 100%;
            }
            #cookiestatement{
            position: fixed;
            bottom: 0;
            right: 0;
            width: 200px;
            background-color: #fa0;
            opacity: 0.5;
            text-align: center;
            color: #fff;
            z-index: 9999;
            }
            #textandlist{
                display: flex;
                flex-direction: row;
            }
            #video{
                display: flex;
                width: 40%;
                height: auto;
            }
            #bestlist{
                background-color: #6a5acd; 
                font-size: 0.6em;
                text-align: center;
                float: right;
                width: 200px;
                height: 500%;
                order: 2;
                align-items: stretch;
                top: 315px;
                right: 0;
                position: fixed;
            }
            #alltext{
                font-size: 12px;
                width: 100%;
                float: left;
                order: 1;
                margin-right: 200px;
            }
            #textOne{
                background-color: #ee82ee;
                font-size: unset;
            }
            #textTwo{
                background-color: #9acd32;
                font-size: unset;
            }
            #textThree{
                background-color: #ff6347;
                font-size: unset;
            }
            #textPageTwo{
                grid-template-columns: [col1-start] 40% [col2-start] 35% [col3-start] 25%;
                grid-template-rows: [row1-start] auto [row1-end] auto[row2-start] auto [row2-end] auto [row3-start] auto [row3-end] auto [row4-start] auto [row4-end] auto [row5-start] auto [row5-end] auto [row6-start] auto [row6-end] auto [row7-start] auto [row7-end] auto  
            }
            #art1{
                grid-column: col2-start;
                grid-row: row1-start / row4-end;
                text-align: center;
                background-color: #f08080;
                font-size: 30px;
            }
            #art2{
                grid-column: col1-start;
                grid-row: row1-start / row2-end;
                text-align: center;
                background-color: #800000;
                font-size: 30px;
            }
            #art3{
                grid-column: col3-start;
                grid-row: row1-start / row2-end;
                text-align: center;
                background-color: #3cb371;
                font-size: 30px;
            }
            #art4{
                display: block;
                grid-column: col3-start;
                grid-row: row3-start / row4-end;
                background-color: #ee82ee;
                font-size: 30px;
                text-align: center;
            }
            #art5{
                grid-column: col1-start;
                grid-row: row2-start / row6-end;
                text-align: center;
                background-color: #ffa500;
                font-size: 30px;
            }
            #art6{
                display: block;
                grid-column: col2-start / col4-start;
                grid-row: row5-start;
                text-align: center;
                background-color: #87ceeb;
                font-size: 30px;
            }
            #img3{
                display: block;
            }
            #portugal{
                display: block;
                grid-column: col1-start;
                width: 100%;
                height: 500px;
            }
            #spanje{
                display: block;
                grid-column: col2-start;
                width: 100%;
                height: 500px;
            }
            #griekenland{
                display: block;
                grid-column: col3-start;
                width: 100%;
                height: 500px;
            }
            #allimages{
                width: auto;
                height: auto;
                display: grid;
                grid-template-columns: [col1-start] 40%  [col2-start] 35% [col3-start] 25%;
            }
            #about{
                display: grid;
                background-color: #9acd32;
                font-size: 13px;
            }
            #zitcomfort{
                background-color: #663399;
                grid-column: 1
            }
            #service{
                background-color: #663399;
                grid-column: 2
                
            }
            #tickets{
                display: grid;
                grid-template-columns: [col1-start] 80% [col2-start] auto;
                grid-template-rows: [row1-start] 95% [row1-end] auto[row2-start] 5% [row2-end] auto;
                width: 100%;
                font-size: unset;
            }
            #prices row{
                background-color: #fa8072;
                width: auto;
                grid-column: col1-start;
                grid-row: row2-start;
            }
            #imgpage3{
                grid-column: col2-start;
                grid-row: row1-start / row2-end;
                background-color: #ee82ee;
                width: 100%;
                display: block;
            }
            #imgpage2{
                display: block;
                grid-column: col2-start;
                background-color: #ee82ee;
                width: 100px;
                height: auto;
                grid-row: row1-start / row2-end;
            }
            #arubaharbor{
                display: block;
                width: 100%;
                height: 100%;
            }
            #spaincity{
                width: 100%;
                height: 100%;
            }
            #portugaltoren{
                width: 100%;
                height: 100%;
            }
            #prices{
                background-color: #00ff7f;
                grid-column: col1-start;
                grid-row: row1-start;
                width: 100%;
            }
            #tui{
                background-color: #00ff7f;
                grid-column: col1-start;
                grid-row: row2-start;
                width: 100%;
            }
            #contactpage{
                display: grid;
                grid-template-columns: [col1-start] 80%  [col2-start] 20%;
                width: auto; 
            }
            #contactform{
                background-color:#f5f5f5;
                padding: 20px;
                padding-bottom: 10px;
                border: 1px solid #ced4da;
                border-radius: 0.25rem;
                grid-column: col1-start;
            }
            #imgpage4{
                width: auto;
                grid-column: col2-start;
                background-color: #a16210;
            }
            #arubaharbor2{
                width: 100%;
                height: 100%;
            }
            input[type=text], select {
                width: 100%;
                margin: 8px;
                box-sizing: border-box;
            }
            #message{
                height: 450px;
            }
            #knop{
                width: 150px;
                background-color: #00ff7f;
                cursor: pointer;
                border-radius: 10px;
                padding: 10px;
            }
            #knop:hover{
                background-color: #20750fb9;
            }
            #knop:active{
                background-color: #be52be;
            }

        }
